<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.david.dao.PaymentDao">
    <!--这里可以直接写实体对象，因为我们配置文件中集成mybatis时已经指定了实体类的所在的包名-->
    <!--这里插入语句我们设置了useGeneratedKeys="true" keyProperty="id"二个属性，告知我们是否插入成功-->
    <insert id="add" parameterType="Payment" useGeneratedKeys="true" keyProperty="id">
      insert into payment(serial) values (#{serial})
    </insert>

    <select id="getPaymentById" parameterType="java.lang.Long" resultType="Payment">
      select * from  payment where id = #{id}
    </select>
</mapper>